// 1. Import the initial variables
@import "~/bulma/sass/utilities/initial-variables";
@import "~/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;

// Font Family
$body-family: "Josefin Sans";

// Add a serif family
$family-serif: "Josefin Slab", "Georgia", serif;
$navbar-item-img-max-height: 5rem;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$link: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
//$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "~/bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import '~/bulma/bulma.sass';

// Lets load in our remote based fonts...
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');

  // Fontawesome
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');


// Cedeon's extensions below.
#interactive {
  background-color: blue;
  width: 100%;
  min-height: 100vh;
  position: absolute;

}
.hero-img1 {
  background-color: black !important;
}

.hero-img1::before {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;  
  background-image: url('assets/img/viz/WoodthorpeRoadShot3.jpg');
  background-size: cover;
}


.navbar-item.is-active {
  background-color: $pink;
  }

