<template>
  <transition name="fade">
    <h1 v-if="!hideMe">{{ message }}</h1>
  </transition>
</template>
<style>
h1 {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

<script>
let stateObj = {
  data: {
    hideMe: false,
    message: 'Hi, This is a VERY simple Vue component, incase you later forget!',
    timeOut: 2500
  }
}

let trigFunc = function(state) {
  //console.log('The Vue Component triggered a timeout, whoo.. lets make it fade itself using sexy css');
  //console.log(state);  
  state.data.hideMe = true;
}

setTimeout(trigFunc, stateObj.data.timeOut, stateObj);

export default stateObj;
</script>

